# Игнорировать папки сборки
build*/  
debug*/  

# Игнорировать временные и сгенерированные файлы
*.o
*.moc
*.pro.user
Makefile
*.exe
# *.dll - закомментил, тк dll-файлы есть в папке lib, которая нужна для билда серверной части
*.so
*.dSYM
*.log
*.tmp
*.stash

# Игнорировать системные файлы
.DS_Store
Thumbs.db